@charset "UTF-8";

body{
  font-size:15px;
  font-family: Helvetica Neue,Helvetica,YuGothic,Yu Gothic,'ヒラギノ角ゴ Pro W3',Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳＰゴシック",sans-serif
}

/* 一括で全ての要素の余白をゼロに指定 */
* {
  padding: 0;
  margin: 0;
}

a:link {
    font-size:14px;
  color: #888;
  text-decoration: none;
}

a:visited {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #BBB;
  text-decoration: none;
}

/* ---------------------------------------- レイアウトに関する指定 */


#wrapper {
  /*text-align: left;*/
  margin: 0 auto;
  hight: 100%;
  width: 100%;
}

@media screen and (min-width: 769px){

/*レスポンシブデザイン(仮）
  #header:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #000;
  }
  #header a:before, #header a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #FFF;
  }
  #header a:before{
    margin-top: -6px;
  }
  #header a:after{
    margin-top: 2px;
  }
}*/


#header {
/*border: 1px #000000 solid;*/
  content: "";
  display: block;
  clear: both;
  margin:10px auto;
  /*hight: 100%;*/
  width: 80%;
}

#headera {
/*border: 3px #FF00FF solid;*/
  content: "";
  display: block;
  clear: both;
  /*hight: 100%;*/
  width: 100%;
  margin: 0 auto;
}

#headleft {
/*border: 1px #FF0000 solid;*/
  float: left;
  margin:0 auto;
  padding-left: 6%;
  /*hight: 100%;*/
  width: 25%;
}
#headmid {
  float: left;
  margin:0 auto;
  text-align: center;
  width: 40%;
}
#headmid li{
display:inline;
list-style-type:none;
margin-right:-1px;
width: 19%;
float: left;
border-left: 1px solid #999;
border-right: 1px solid #999;
}
 
#headmid li+li {
border-left: 1px solid #999;
}

#headright {
/*border: 1px #0000FF solid;*/
  float: left;
  text-align:right;
  margin:0 auto;
  padding-right: 0%;
  /*hight: 100%;*/
  width: 28%;
}


#headerc:after {
  margin:50px auto;
  content: "";
  display: block;
  clear: both;
  margin:0 auto;
  /*text-align: center;*/
  /*hight: 50%;*/
  width: 80%;
}

#headerc1 {
/*border: 1px #FF0000 solid;*/
  float: left;
  text-align: center;
  margin:0 auto;
  /*hight: 100%;*/
  width: 19%;
}
#headerc2 {
/*border: 1px #00FF00 solid;*/
  float: left;
  text-align: center;
  margin:0 auto;
  /*hight: 100%;*/
  width: 20%;
}
#headerc3 {
/*border: 1px #0000FF solid;*/
  float: left;
  text-align: center;
  margin:0 auto;
  /*hight: 100%;*/
  width: 20%;
}
#headerc4 {
/*border: 1px #FFFF00 solid;*/
  float: left;
  text-align: center;
  margin:0 auto;
  /*hight: 100%;*/
  width: 20%;
}
#headerc5 {
/*border: 1px #FF00FF solid;*/
  float: left;
  text-align: center;
  margin:0 auto;
  /*hight: 100%;*/
  width: 19%;
}


}

#headerb {
/*border: 1px #FFFF00 solid;*/
  margin:25px auto;
  clear: both;
  text-align: center;
  hight: 100%;
  width: 100%;
}
#headerb img {
  margin:0 auto;
  hight: auto;
  max-width: 100%;
}


#map {
border: 3px #000000 solid;
position: relative;
padding-bottom: 50%;
padding-top: 30px;
margin: 0 auto;
width: 75%;
height: 100%;
overflow: hidden;
}
 
#map iframe,
#map object,
#map embed {
position: absolute;
top: 30px;
left: 0;
width: 75%;
height: 100%;
}

#back {
  text-align: right;
  margin: 0 auto;
  hight: 100%;
  width: 75%;
}

#visitlist{
  //float: left;
  margin:50px auto;
  text-align: left;
  width: 60%;
}
#visitlist li{
display:inline;
list-style-type:none;
margin: 10px auto;
width: 50%;
float: left;
}

#circle {
	width: 20px;
	height: 20px;
	background-color: rgb(247,52,22);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
#circle2 {
	width: 20px;
	height: 20px;
	background-color: rgb(155,205,204);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
#circle3 {
	width: 20px;
	height: 20px;
	background-color: rgb(251,151,136);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
#circle4 {
	width: 20px;
	height: 20px;
	background-color: rgb(22,103,150);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
#circle5 {
	width: 20px;
	height: 20px;
	background-color: rgb(154,102,151);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
